{% extends 'base.html.twig' %}

{% block title %}Hello Author Creator!{% endblock %}

{% block body %}
<div class="container">
    <h1>Hello Author Creator! ✅</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
