{% extends 'base.html.twig' %}

{% block title %}Список авторов{% endblock %}

{% block body %}
<div class="container">
    <h1>
        Список авторов
        <a class="btn btn-sm btn-icon btn-2 btn-primary" href="/author/create">
            <i class="fa fa-plus"></i>
        </a>
    </h1>

    <ul>
        {% for author in authors %}
            <li>
                <a href="/author/{{ author.id }}">{{ author.fullname }}</a>
                <a class="btn btn-sm btn-icon btn-2 btn-primary" href="/author/{{ author.id }}/edit">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-sm btn-icon btn-2 btn-danger" href="/author/{{ author.id }}/remove">
                    <i class="fa fa-trash"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
