{% extends 'base.html.twig' %}

{% block title %}{{ author.fullname }}{% endblock %}

{% block body %}
    <h1 class="display-2 text-white mb-5">{{ author.surname }} {{ author.name }} {{ author.midname }}</h1>
    {% include 'book/list.html.twig' with {'books': author.books} %}
{% endblock %}
