{% extends 'base.html.twig' %}

{% block title %}Создание/редактирование книги{% endblock %}

{% block body %}
<div class="card shadow mt--300">
    <div class="card-body">
        <h1>Создание/редактирование книги</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
