{% extends 'base.html.twig' %}

{% block title %}Книги{% endblock %}

{% block body %}
<style>
    .card-img-top {
        max-height: 50vh;
    }
</style>
<div class="row row-grid">
    {% for book in books %}
    <div class="col-lg-4 mb-5">
        <div class="card card-lift--hover shadow border-0">
            <img class="card-img-top" src="https://genderstudies.indiana.edu/images/publications/book-cover-placeholder.jpg" alt="No preview available">
            <div class="card-body">
                <h5 class="text-primary text-uppercase">{{ book.title }}</h5>
                <p class="description mt-3">
                    {% for author in book.authors %}
                        {{ author.fullname }} {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
