{% extends 'base.html.twig' %}

{% block title %}{{ 'site.books'|trans }}{% endblock %}

{% block body %}
<div class="mt--300">
    {% include 'book/list.html.twig' with {'books': books} %}
</div>
{% endblock %}
