{% extends 'base.html.twig' %}

{% block title %}Книги{% endblock %}

{% block body %}
<div class="container">
    <h1>Список книг</h1>

    {% if books is empty %}
        <h2>В каталоге нет ни одной книги</h2>
    {% else %}
        <ul>
            {% for book in books %}
                <li>
                    {{ book.title }}. ({{ book.publicationYear }}, ISBN: {{ book.isbn }})
                    {% for author in book.authors %}
                        <br>{{ author.fullname }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
