<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Design System for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="/assets/css/argon.css?v=1.0.1" rel="stylesheet">
    <!-- Docs CSS -->
    <link type="text/css" href="/assets/css/docs.min.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
  <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
      <div class="container">
        <a class="navbar-brand mr-lg-5" href="/">
          <h1 class="display-4 text-white">{{ 'site.title'|trans }}</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="index.html">
                  <img src="/assets/img/brand/blue.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/book">
                <i class="fa fa-book"></i>
                <span class="nav-link-inner--text">{{ 'site.books'|trans }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="/author">
                <i class="fa fa-user"></i>
                <span class="nav-link-inner--text">{{ 'site.authors'|trans }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="position-relative">
      <section class="section section-lg section-shaped pb-300">
          <div class="shape shape-style-1 shape-primary">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew">
              <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
              </svg>
          </div>
      </section>

      <section class="section section-lg pt-lg-0 mt--200">
          <div class="container">
            {% block body %}{% endblock %}
          </div>
      </section>

      <section class="section section-lg">
          <div class="container">
              <div class="row row-grid justify-content-center">
                  <div class="col-lg-8 text-center">
                      <h2 class="display-3">Хотите помочь с наполнением каталога?</h2>
                      <p class="lead">
                          Наш каталог ежедневно пополняется новыми книгами, но без помощи добровольцев всего этого не было бы. Если у Вас есть информация о неизвестной нам книге, мы будем рады, если Вы её добавите вместе с автором.
                      </p>
                      <div class="btn-wrapper">
                          <a href="/book/create" class="btn btn-primary">
                              <span class="btn-inner--icon">
                                  <i class="fa fa-plus mr-2"></i>
                              </span>
                              <span>Добавить книгу</span>
                          </a>
                          <a href="/author/create" class="btn btn-primary">
                              <span class="btn-inner--icon">
                                  <i class="fa fa-plus mr-2"></i>
                              </span>
                              <span>Добавить автора</span>
                          </a>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2018
            <a href="/">{{ 'site.title'|trans }}</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="https://symfony.com/" class="nav-link" target="_blank">Symfony</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/product/argon-design-system" class="nav-link" target="_blank">Argon</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  {% block javascripts %}
  <!-- Core -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/popper/popper.min.js"></script>
  <script src="../assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="../assets/vendor/headroom/headroom.min.js"></script>
  <!-- Argon JS -->
  <script src="../assets/js/argon.js?v=1.0.1"></script>
  {% endblock %}
</body>

</html>